*{
    font-family: Courier New;
    font-size: 40px;
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg);
}
#visible{
    color: black;
}
.show{
    display:block;
}
.leongu{
    background-color: lightgreen;
}
